ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover,
a:focus {
    outline: none;
    text-decoration: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.header {
    background: #2f323a;
}

.header .logo {
    background: #1e2025;
    padding: 16px 0px;
    float: left;
    width: 264px;
    text-align: center;
}

.left_menu {
    width: 264px;
    height: 740px;
    background-color: #2f323a;
    float: left;
}

.right-content {
    float: left;
}

.Navigate {
    font-family: ProximaNova;
    font-size: 16px;
    text-align: left;
    color: #575a5f;
    text-transform: uppercase;
    padding: 20px 24px;
    display: block;
}

.menu li a {
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    color: #ffffff;
    padding: 20px 24px;
    display: block;
}

.menu li a:before {
    content: '';
    background-repeat: no-repeat
}